body
{
    color: blue;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
<<<<<<< HEAD
}
=======
}
#post
{
    padding: 1em;
}

Tu avatar
Escribe tu aporte o pregunta
APORTES 1021

PREGUNTAS 165

Ordenar por:
Más Votados
Nuevos
Sin Responder
julian-camilo-vargas
julian-camilo-vargas

Hace 2 años

1.1K
es absurdo lo buen profesor que es freddyyyy que haga mas cursoooos

Responder
Sebastian Veliz Ysla
Sebastian Veliz Ysla

Hace 2 años

62
Dios te oiga :,v

Mario Alejandro Crespo Reyes
Mario Alejandro Crespo Reyes

Hace 2 años

29
Porfavor fredy !

>>>>>>> cabecera
